@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@500&display=swap');

html{
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255 255 255);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 200, 200);   
}
.Dropdown-arrow-wrapper{
    display: none !important;
    margin: 0px !important;

}
.Dropdown-placeholder{
    width: 25px !important;
    margin: 0px !important;

}
.Dropdown-control {
    border-radius: 0px !important;
    border: none !important;
    background-color: transparent !important;
    color: white !important;
    width: 25px !important;

}
.Dropdown-root{
    width: 32px !important;
}
.Dropdown-menu{
    border-radius: 5px !important;
    border: none !important;
    background-color: rgb(23, 23, 23) !important;
    color: white !important;
    margin-left: 6px;
}

.Dropdown-option{
    background-color: transparent !important;
    color: white !important;
    border-radius: 16px !important;
    padding: 0px !important;
    margin: 4px !important;
}

.switch{
    position: fixed !important;
    bottom: 32px !important;
    right: 32px !important;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(white, rgb(255, 255, 255))
}

.link-underline:hover {
    background-size: 100% 1px;
    background-position: 0 100%
}